<div class="container">
  <h1 class="display-4">Welcome to Student API</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-9 d-flex justify-content-end mt-3">
      <button class="btn btn-primary" (click)="addStudent()">Add student info</button>&nbsp;&nbsp;
      <button class="btn btn-warning" (click)="updateStudent()">Update student info</button>&nbsp;&nbsp;
      <button class="btn btn-danger" (click)="deleteStudent()">Delete student</button>&nbsp;&nbsp;
      <button class="btn btn-info" (click)="searchStudents()">Search Students</button>&nbsp;&nbsp; 
    </div>
  </div><br><br>
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered table-striped">
        <tr>
          <th>RollNo</th>
          <th>Name</th>
          <th>Age</th>
          <th>Email</th>
          <th>Date</th>
          <th>Gender</th>
        </tr>
        <tr *ngFor="let student of studentData">
          <td>{{student.rollNo}}</td>
          <td>{{student.name}}</td>
          <td>{{student.age}}</td>
          <td>{{student.email}}</td>
          <td>{{student.date}}</td>
          <td>{{student.isMale ? "Male" : "Female"}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
